.mantine-Select-itemsWrapper {
  padding: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weight-700 {
  font-weight: 700;
}

body,
html,
#__next {
  min-height: 100vh;
}
